<h2 class="text-center text-3xl text-white bg-primary font-bold mx-auto mb-4 p-1" style="width: fit-content">Modifiez vos données de connexion <%= @user.first_name %></h2>
<div class="bg-white shadow-md rounded w-full max-w-lg mx-auto mb-2 pb-4">
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= f.error_notification %>

<div class="form-inputs px-8 pt-6 pb-8 mb-4">
  <%= f.input :email, required: true, autofocus: true, input_html: { class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4" },
              label_html: { class: "block uppercase text-gray-700 text-sm font-bold my-2" } %>
  <%= f.input :name, required: true, autofocus: true, label: 'Nom', input_html: { class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4" },
              label_html: { class: "block uppercase text-gray-700 text-sm font-bold my-2" } %>
  <%= f.input :first_name, required: true, autofocus: true, label: 'Prénom' , input_html: { class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4" },
              label_html: { class: "block uppercase text-gray-700 text-sm font-bold my-2" } %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
  <% end %>

  <%= f.input :password,
  label: 'Mot de passe',
  hint: "Laissez blanc si vous ne voulez pas changer votre mot de passe",
  required: false,
  input_html: { autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4" },
  label_html: { class: "block uppercase text-gray-700 text-sm font-bold my-2" },
  hint_html: { class: "text-sm text-gray-800 mb-12 mt-6" } %>
  <%= f.input :password_confirmation, label: 'Confirmez votre mot de passe',
  required: false,
  input_html: { autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4" },
  label_html: { class: "block uppercase text-gray-700 text-sm font-bold my-2" } %>
  <%= f.input :current_password,
  label: 'Votre mot de passe actuel',
  hint: "nous avons besoin de votre mot de passe actuel pour confirmer vos modifications",
  required: true,
  input_html: { autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4" },
  label_html: { class: "block uppercase text-gray-700 text-sm font-bold my-2" },
  hint_html: { class: "text-sm text-gray-800 mb-12 mt-6" } %>
<div class="form-actions">
  <%= f.button :submit, "Modifier", class: "text-l text-white bg-primary font-bold mt-6 p-1 self-center hover:bg-secondary hover:text-primary" %>
</div>
<% end %>
<br>
<hr>

<h3 class="block uppercase text-gray-700 text-sm font-bold my-2">Supprimer mon compte</h3>
<p>Vous voulez supprimer votre compte ?</p>
<%= link_to "Supprimer", registration_path(resource_name), data: { confirm: "Vous êtes sûr ?" }, method: :delete, class: "text-l text-white bg-primary font-bold mt-6 p-1 self-center hover:bg-secondary hover:text-primary" %>
</div>
</div>
