<div class="list-wraper">
  <div class="list-grid">
    <% @artists.each do |artist|%>
      <%= link_to show_jp_artist_path(artist) do %>
        <div class="list-card <%="inactive" if artist.active == false %> <%="jeunesse" if artist.category == "Jeune Public" %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= artist.image %>)">
          <div class="card-body">
            <h5 class="card-name"><%= artist.name %></h5>
            <h6 class="card-style"><%= artist.style %></h6>
            <% if artist.active == false %>
             <div id="inactive-flag">
                <h2>INACTIF</h2>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
