<div class="transition-fade">
  <div class="bg-secondary h-40 w-5/6 z-0 absolute" style="left: 7.5%; bottom: 35%">
  </div>
  <div class="banner relative" style="background-image: url('<%= image_path "bandeau-concerts.jpg" %>'); background-position: top;">
    <h1 class="absolute bg-white text-primary text-3xl font-bold px-1">Nos Artistes</h1>
  </div>
  <div class="search">
    <%= form_with url: artists_path, method: :get, local: true do |form| %>
      <%= form.collection_select :id, Artist.all, :id, :name, {:include_blank => 'Recherche par artiste...'}, {:class => 'select2'} %>
      <%= form.submit value:"Recherche" %>
    <% end %>
  </div>
  <%= render 'shared/list' %>
</div>
