<div class="artist-page">
  <div class="bg-secondary h-40 w-5/6 z-0 absolute hidden sm:inline-block" style="left: 7.5%; bottom: 25%">
  </div>
    <% if   @artist.category == "spectacle"%>
    <%= link_to spectacle_artists_path, class: "inmine-flex items-center absolute text-primary no-underline hover:text-secondary transform hover:scale-110 duration-200 text-3xl p-1 font-bold mt-4 ml-20", style: "top: 10rem", id: "back-button" do %>
     <i class="fas fa-arrow-left"></i>
     <span id="back-text" class="text-base ml-2">Retour</span>
    <% end %>
    <% elsif @artist.category == "concert"%>
    <%= link_to concert_artists_path, class: "inline-flex items-center absolute text-primary no-underline hover:text-secondary transform hover:scale-110 duration-200 text-3xl p-1 font-bold mt-4 ml-20", style: "top: 10rem", id: "back-button" do %>
    <i class="fas fa-arrow-left"></i>
     <span id="back-text" class="text-base ml-2">Retour</span>
    <% end %>
    <% else %>
    <%= link_to jeune_public_artists_path, class: "inline-flex items-center absolute text-primary no-underline hover:text-secondary transform hover:scale-110 duration-200 text-3xl p-1 font-bold mt-4 ml-20", style: "top: 10rem", id: "back-button" do %>
    <i class="fas fa-arrow-left"></i>
     <span id="back-text" class="text-base ml-2">Retour</span>
    <% end %>
    <% end %>
  <div class="banner-2 z-10 relative my-16" style="background-image: url('<%= image_path url_for (@artist.banner_image) %>');">
    <h1 class="absolute text-white text-3xl font-bold bg-white text-primary px-1 z-10"><%= @artist.name %></h1>
    <ul class="social-links flex absolute" style="bottom: -2.5rem; right: 4rem">
      <% if @artist.insta? %>
      <li class="bg-primary text-white p-1 transform duration-200 hover:scale-110 hover:bg-secondary h-8 w-8 mx-1"><a href="<%= @artist.insta %>" target="_blank"><i class="fab fa-instagram"></i></a></li>
      <% end %>
      <% if @artist.facebook? %>
      <li class="bg-primary text-white p-1 transform duration-200 hover:scale-110 hover:bg-secondary h-8 w-8 mx-1"><a href="<%= @artist.facebook %>" target="_blank"><i class="fab fa-facebook"></i></a></li>
      <% end %>
      <% if @artist.twitter? %>
      <li class="bg-primary text-white p-1 transform duration-200 hover:scale-110 hover:bg-secondary h-8 w-8 mx-1"><a href="<%= @artist.twitter %>" target="_blank"><i class="fab fa-twitter"></i></a></li>
      <% end %>
      <% if @artist.spotify? %>
      <li class="bg-primary text-white p-1 transform duration-200 hover:scale-110 hover:bg-secondary h-8 w-8 mx-1"><a href="<%= @artist.spotify %>" target="_blank"><i class="fab fa-spotify"></i></a></li>
      <% end %>
      <% if @artist.youtube? %>
      <li class="bg-primary text-white p-1 transform duration-200 hover:scale-110 hover:bg-secondary h-8 w-8 mx-1"><a href="<%= @artist.youtube %>" target="_blank"><i class="fab fa-youtube"></i></a></li>
      <% end %>
      <% if @artist.soundcloud? %>
      <li class="bg-primary text-white p-1 transform duration-200 hover:scale-110 hover:bg-secondary h-8 w-8 mx-1"><a href="<%= @artist.soundcloud %>" target="_blank"><i class="fab fa-soundcloud"></i></a></li>
      <% end %>
      <% if @artist.slug? %>
      <li class="bg-primary text-white p-1 transform duration-200 hover:scale-110 hover:bg-secondary h-8 w-8 mx-1"><a href="<%= @artist.slug %>" target="_blank"><i class="fas fa-link"></i></a></li>
      <% end %>
    </ul>
  </div>
  <div class="artist-informations bg-primary sm:grid sm:grid-cols-2 sm:gap-4 py-8">
    <div class="info-block sm:col-span-1 flex justify-center items-center mx-auto sm:pl-32">
      <ul class="info-list flex flex-col">
        <% if !@distributions.empty? %>
        <li>
          <button class="bg-white text-primary font-bold p-1 m-2 hover:bg-secondary transform duration-200 hover:scale-110" id="distri-btn">Distribution</button>
        </li>
        <% end %>
        <% if !@credits.empty? %>
        <li>
          <button class="bg-white text-primary font-bold p-1 m-2 hover:bg-secondary transform duration-200 hover:scale-110" id="credits-text">Crédit</button>
        </li>
        <% end %>
        <% if !@presses.empty? %>
        <li>
          <button class="bg-white text-primary font-bold p-1 m-2 hover:bg-secondary transform duration-200 hover:scale-110" id="presse-text">Presse</button>
        </li>
        <% end %>
        <% if !@partenaires.empty? %>
        <li>
          <button class="bg-white text-primary font-bold p-1 m-2 hover:bg-secondary transform duration-200 hover:scale-110" id="part-btn">Partenaires</button>
        </li>
        <% end %>
        <% if @artist.press_file.attached? %>
        <li>
          <%= link_to "Dossier de Presse",@artist.press_file, type:'button', target: :_blank, class:"bg-white text-primary font-bold p-1 m-2 w-40 hover:bg-secondary transform duration-200 hover:scale-110" %>
        </li>
        <% end %>
      </ul>
      <div class="info-text-block relative w-full h-48 ml-8">
        <% if !@distributions.empty? %>
        <ul class="info-text absolute hidden bg-white text-primary p-4 m-2">
          <% @distributions.each do |distrib| %>
          <li><%= distrib.name %></li>
          <% end %>
        </ul>
        <% end %>
        <% if !@credits.empty? %>
        <ul class="info-text absolute hidden bg-white text-primary p-4 m-2">
          <% @credits.each do |credit| %>
          <li><%= credit.name %></li>
          <% end %>
        </ul>
        <% end %>
        <% if !@presses.empty? %>
        <ul class="info-text absolute hidden bg-white text-primary p-4 m-2">
          <% @presses.each do |press| %>
          <li><%= press.name %></li>
          <% end %>
        </ul>
        <% end %>
        <% if !@partenaires.empty? %>
        <ul class="info-text absolute hidden bg-white text-primary p-4 m-2">
          <% @partenaires.each do |parten| %>
          <li><%= parten.name %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>
    <div class="description bg-white text-primary sm:p-8 p-3 text-sm sm:my-16 my-2 mx-auto sm:mr-32 text-justify sm:col-span-1 relative">
      <p><%= markdown(@artist.description) %></p>
    </div>
  </div>
  <div class="centrale">
    <div class="dice mx-auto my-16 grid sm:grid-cols-12 grid-cols-1 sm:grid-rows-2 grid-rows-10 sm:row-gap-16 row-gap-6 sm:col-gap-2 col-gap-1">
      <% if @artist.video? %>
      <iframe class="sm:col-span-6 sm:row-span-1 sm:col-start-4 sm:w-full mx-auto col-span-1 row-span-2 col-start-1" src="<%= @artist.video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <% elsif @artist.artist_video.attached? %>
      <%= video_tag rails_blob_path(@artist.artist_video), controls: true, class: "sm:col-span-6 sm:row-span-1 sm:col-start-4 mx-auto col-span-1 row-span-2 col-start-1" %>
      <% else %>
      <% end %>
      <% if @artist.show_image1.attached? %>
      <div class="relative mx-auto w-56 h-40 sm:col-span-3 sm:row-span-1 sm:col-start-1 col-span-1 row-span-2 transform duration-200 hover:scale-110">
        <%= link_to @artist.show_image1, class: 'photo', data: { lightbox: "gallery-show"}  do %>
        <%= image_tag @artist.show_image1, class: 'absolute h-full w-full object-contain' %>
        <% end %>
      </div>
      <% else %>
      <% end %>
      <% if @artist.show_image1.attached? %>
      <div class="relative mx-auto w-56 h-40 sm:col-span-3 sm:row-span-1 sm:col-start-4 col-span-1 row-span-2  transform duration-200 hover:scale-110">
        <%= link_to @artist.show_image2, class: 'photo', data: { lightbox: "gallery-show"}  do %>
        <%= image_tag @artist.show_image2, class: 'absolute h-full w-full object-contain' %>
        <% end %>
      </div>
      <% else %>
      <% end %>
      <% if @artist.show_image1.attached? %>
      <div class="relative mx-auto w-56 h-40 sm:col-span-3 sm:row-span-1 sm:col-start-7 col-span-1 row-span-2  transform duration-200 hover:scale-110">
        <%= link_to @artist.show_image3, class: 'photo', data: { lightbox: "gallery-show"}  do %>
        <%= image_tag @artist.show_image3, class: 'absolute h-full w-full object-contain' %>
        <% end %>
      </div>
      <% else %>
      <% end %>
      <% if @artist.show_image1.attached? %>
      <div class="relative mx-auto w-56 h-40 sm:col-span-3 sm:row-span-1 sm:col-start-10 col-span-1 row-span-2  transform duration-200 hover:scale-110">
        <%= link_to @artist.show_image4, class: 'photo', data: { lightbox: "gallery-show"}  do %>
        <%= image_tag @artist.show_image4, class: 'absolute h-full w-full object-contain' %>
        <% end %>
      </div>
      <% else %>
      <% end %>
    </div>
  </div>
  <% if !@events.empty? %>
  <div class="wraper relative">
    <!-- Section Agenda -->
    <div class="table-title-artist px-4 bg-primary inline-block absolute z-20">
      <h2 class="text-2xl font-bold">Agenda</h2>
    </div>
    <table class="table-artist w-full sm:mx-20 z-10">
      <%= render 'shared/event-table-artist' %>
    </table>
    <div class="bg-primary w-full z-0 absolute bottom-0" style="height: 50%">
    </div>
  </div>
  <% end %>
</div>

