<%= stylesheet_link_tag 'show-jp', media: 'all' %>
<div class="transition-fade">
  <div class="artist-page-jp">
    <div class="banner" style="background-image: url('<%= image_path(@artist.banner) %>');">
      <div class="container">
        <h1><%= @artist.name %></h1>
        <%= link_to jeune_public_artists_path do %>
          Retour
        <% end %>
      </div>
    </div>
    <div class="artist-informations">
      <div class="description">
        <p><%= @artist.description %></p>
      </div>
    </div>
    <div class="centrale">
      <ul class="info-list">
        <% if @artist.distribution != nil %>
          <li>
            <button id="distri-btn">Distribution</button>
            <ul class="is-visible">
              <% @artist.distribution.each do |distrib| %>
                <li><%= distrib %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <% if @artist.credits != nil %>
          <li>
            <button id="credits-text">Crédit</button>
            <ul class="is-visible">
              <% @artist.credits.each do |credit| %>
                <li><%= credit %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <% if @artist.presse != nil %>
          <li>
            <button id="presse-text">Presse</button>
            <ul class="is-visible">
              <% @artist.presse.each do |press| %>
                <li><%= press %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <% if @artist.partenaires != nil %>
          <li>
            <button id="part-btn">Partenaires</button>
            <ul class="is-visible">
              <% @artist.partenaires.each do |parten| %>
                <li><%= parten %></li>
              <% end %>
            </ul>
          </li>
        <% end %>
        <% if @artist.press_file.attached? %>
          <li>
            <%= link_to "Dossier de Presse",@artist.press_file, target: :_blank, class:"download-btn" %>
          </li>
        <% end %>
      </ul>
      <div class="dice">
        <%= image_tag @artist.dice1, class: "photo top-left" %>
        <%= image_tag @artist.dice2, class: "photo top-right" %>
        <iframe width="200" height="133.19" class="video" src="https://www.youtube.com/embed/14PZY7yOIus" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <%= image_tag @artist.dice3, class: "photo botom-left" %>
        <%= image_tag @artist.dice4, class: "photo botom-right" %>
      </div>
    </div>
    <ul class="social-links">
      <% if @artist.insta != nil %>
        <li><a href="<%= @artist.insta %>"><i class="fab fa-instagram"></i></a></li>
      <% end %>
      <% if @artist.facebook != nil %>
        <li><a href="<%= @artist.facebook %>"><i class="fab fa-facebook"></i></a></li>
      <% end %>
      <% if @artist.twitter != nil %>
        <li><a href="<%= @artist.twitter %>"><i class="fab fa-twitter"></i></a></li>
      <% end %>
      <% if @artist.spotify != nil %>
        <li><a href="<%= @artist.spotify %>"><i class="fab fa-spotify"></i></a></li>
      <% end %>
      <% if @artist.youtube != nil %>
        <li><a href="<%= @artist.youtube %>"><i class="fab fa-youtube"></i></a></li>
      <% end %>
      <% if @artist.soundcloud != nil %>
        <li><a href="<%= @artist.soundcloud %>"><i class="fab fa-soundcloud"></i></a></li>
      <% end %>
      <% if @artist.deezer != nil %>
        <li><a href="<%= @artist.deezer %>"><i class="fas fa-link"></i></a></li>
      <% end %>
    </ul>
    <% if !@events.empty? %>
      <div class="table-title">
        <h2>Agenda</h2>
      </div>
      <table class="table-artist">
        <%= render 'shared/event-table-artist' %>
      </table>
    <% end %>
  </div>
</div>

