<h1 class="text-center text-3xl text-white bg-primary font-bold mx-auto mb-4 p-1" style="width: fit-content">Mon profil</h1>

<div class="grid grid-cols-12">
    <%# Personnal infos block %>
    <div class="border-2 border-primary px-4 py-8 inline-block ml-4 mt-16 flex flex-col col-span-3">
        <h2 class="text-l text-white bg-primary font-bold mb-4 p-1 self-center" style="width: fit-content">Mes coordonnées</h2>
        <div class="grid grid-cols-2">
            <span class="text-primary bg-secondary p-1 mt-1 mb-1" style="width: fit-content">Nom</span>
            <span class="mt-1 mb-1 p-1"><%= @user.name %></span>
            <span class="text-primary bg-secondary p-1 mt-1 mb-1" style="width: fit-content">Adresse</span>
            <span class="mt-1 mb-1 p-1"><%= @user.address %></span>
            <span class="text-primary bg-secondary p-1 mt-1 mb-1" style="width: fit-content">Ville</span>
            <span class="mt-1 mb-1 p-1"><%= @user.city %></span>
            <span class="text-primary bg-secondary p-1 mt-1 mb-1" style="width: fit-content">Code postal</span>
            <span class="mt-1 mb-1 p-1"><%= @user.zip_code %></span>
        </div>
    </div>

    <%# orders block %>
    <div class="bg-primary col-start-5 col-span-7 mt-16 overflow-scroll h-64">
        <% @orders.each do |order| %>
        <div class="bg-secondary flex flex-col m-2">
            <% if order.items.length < 2 %>
              <p><%= order.items.length %> Article</p>
            <% else %>
                <p><%= order.items.length %> Articles</p>
            <% end %>
            <div>
                <%= humanized_money order.amount %> <%= currency_symbol %>
            </div>
            <div class="flex flex-col">
                <p>Livraison à :</p>
                <span><%= order.address %></span>
                <span><%= order.city %></span>
                <span><%= order.zip_code %></span>
            </div>
        </div>
        <% end %>
    </div>
</div>