<tbody class="bg-secondary">
  <% @events.each do |event|%>
  <tr class="duration-200">
    <td class="table-date text-primary"><%= l event.date %></td>
    <td class="table-name">
      <%= link_to artist_path(event.artist_id) do %>
        <p class="text-primary text-xl font-bold transform duration-200 hover:scale-110"><%= event.artist.name %></p>
      <% end %>
    </td>
    <td class="table-location text-primary"><strong><%= event.city %></strong> - <%= event.location %></td>
    <% if event.ticket? %>
      <td class="table-ticket text-center" id="ticket"><a href="<%= event.ticket %>" target="_blank"><i class="fas fa-ticket-alt text-primary transform duration-200 hover:scale-150"></i></a></td>
    <% else %>
      <td></td>
    <% end %>
  </tr>
  <% end %>
</tbody>

