<div class="footer flex items-center justify-between">
  <div class="footer-links flex items-center text-xl sm:mb-6 sm:ml-16">
    <a href="" style="display: none" target="_blank"><i class="fab fa-instagram text-primary p-2 transform duration-200 hover:scale-150"></i></a>
    <a href="https://www.facebook.com/contrepiedproductions/?ref=page_internal" target="_blank"><i class="fab fa-facebook-f text-primary p-2 transform duration-200 hover:scale-150"></i></a>
    <a href="https://twitter.com/ContrepiedProd" target="_blank"><i class="fab fa-twitter text-primary p-2 transform duration-200 hover:scale-150"></i></a>
    <%= link_to contacts_path do %>
    <i class="far fa-envelope text-primary p-2 transform duration-200 hover:scale-150"></i>
    <% end %>
  </div>
  <div class="footer-tabs flex items-center sm:mb-6">
    <!-- <%= link_to "Admin", new_user_session_path, class: "text-base p-2 text-primary" %> -->
    <%= link_to "Contacts", contacts_path, class: "text-base p-2 text-primary hover:text-secondary" %>
    <%= link_to "Mentions Légales", legals_path, class: "text-base p-2 text-primary hover:text-secondary" %>
    <%= link_to "À Propos", about_path, class: "hidden sm:inline-block text-base p-2 text-primary hover:text-secondary" %>
    <%= link_to "Agenda", events_path, class: "hidden sm:inline-block text-base p-2 text-primary hover:text-secondary" %>
  </div>
</div>
