<div class="list-wraper">
  <div class="list-grid">
    <% @artists.each do |artist|%>
      <%= link_to artist.category == "jeune_public" ? show_jp_artist_path(artist) : artist_path(artist)  do %>
        <div class="list-card <%="inactive" if artist.active == false %> <%="jeunesse" if artist.category == "jeune_public" %>">

          <!-- // A REMETTRE DANS UN BACKGROUND DANS DIV CI DESSUS// -->
          <%= image_tag(set_picture(artist)) %>
          <!-- ///// -->

          <div class="card-body">
            <h6 class="card-style"><%= artist.style %></h6>
            <h5 class="card-name"><%= artist.name %></h5>
            <% if artist.active == false %>
              <div id="inactive-flag">
                <h2>INACTIF</h2>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
