<div class="navbar navbar-expand-sm sticky-top flex justify-between">
  <div class="bg-primary text-white flex items-center h-24 mt-12">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h4>CONTREPIED PRODUCTIONS</h4>
    <% end %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse flex items-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto flex">
      <% if user_signed_in? %>
        <% if current_user.admin %>
          <li class="nav-item bg-primary text-white mx-2 p-1 hover:bg-secondary hover:text-primary">
            <%= link_to "Gestion", admin_root_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item bg-primary text-white mx-2 p-1 hover:bg-secondary hover:text-primary">
          <%= link_to "Agenda", events_path, class: "nav-link" %>
        </li>
        <li class="nav-item bg-primary text-white mx-2 p-1 hover:bg-secondary hover:text-primary">
          <%= link_to "Contacts", contacts_path, class: "nav-link" %>
        </li>
        <li class="nav-item bg-primary text-white mx-2 p-1 hover:bg-secondary hover:text-primary">
          <%= link_to "A propos", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item bg-primary text-white mx-2 p-1 hover:bg-secondary hover:text-primary">
          <%= link_to "E-boutique", products_path, class: "nav-link" %>
        </li>
        <li class="nav-item bg-primary text-white mx-2 p-1 hover:bg-secondary hover:text-primary">
          <%= link_to "Mon Pannier", show_cart_products_path, class: "nav-link" %>
        </li>
        <li class="nav-item bg-primary text-white mx-2 p-1 hover:bg-secondary hover:text-primary">
          <%= link_to "Se Déconnecter", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" }, class: "nav-link" %>
        </li>
<!--         <li class="nav-item dropdown">
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "A propos", about_path, class: "dropdown-item bg-primary" %>
            <%= link_to "Spectacles", spectacle_artists_path, class: "dropdown-item bg-primary" %>
            <%= link_to "Concerts", concert_artists_path, class: "dropdown-item bg-primary" %>
            <%= link_to "Jeune Public", jeune_public_artists_path, class: "dropdown-item bg-primary" %>
          </div>
        </li> -->
      <% else %>
        <li class="nav-item bg-primary text-white mx-2 p-1 hover:bg-secondary hover:text-primary">
          <%= link_to "Agenda", events_path, class: "nav-link" %>
        </li>
        <li class="nav-item bg-primary text-white mx-2 p-1 hover:bg-secondary hover:text-primary">
          <%= link_to "Contacts", contacts_path, class: "nav-link" %>
        </li>
        <li class="nav-item bg-primary text-white mx-2 p-1 hover:bg-secondary hover:text-primary">
          <%= link_to "A propos", about_path, class: "bg-primary" %>
        </li>
        <li class="nav-item bg-primary text-white mx-2 p-1 hover:bg-secondary hover:text-primary">
          <%= link_to "Nos Artistes", artists_path, class: "bg-primary" %>
        </li>
        <li class="nav-item bg-primary text-white mx-2 p-1 hover:bg-secondary hover:text-primary">
          <%= link_to "E-boutique", products_path, class: "nav-link" %>
        </li>
<!--         <li class="nav-item dropdown">

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "A propos", about_path, class: "dropdown-item bg-primary text-white" %>
            <%= link_to "Nos Artistes", artists_path, class: "dropdown-item bg-primary text-white" %>
            <%= link_to "Spectacles", spectacle_artists_path, class: "dropdown-item bg-primary text-white" %>
            <%= link_to "Concerts", concert_artists_path, class: "dropdown-item bg-primary text-white" %>
            <%= link_to "Jeune Public", jeune_public_artists_path, class: "dropdown-item bg-primary text-white" %>
          </div>
        </li> -->
      <% end %>
    </ul>
  </div>
</div>
