<div class="transition-fade">
  <div class="banner" style="background-image: url('https://images.unsplash.com/photo-1529354235303-cc42f23d767a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');">
    <div class="container">
      <h1>Agenda</h1>
      <p>Retrouvez nos artistes, partout en France</p>
    </div>
  </div>
  <div class="">
        <!-- Section Search -->
      <div class="my-5">
      <%= form_with url: events_path, method: :get, local: true do |form| %>
        <%= form.select :city, @cities, {:include_blank => 'Où ?'}, {:class => 'select2'} %>
        <%= form.collection_select :artist_id, @artists, :id, :name, {:include_blank => 'Qui ?'}, {:class => 'select2'}  %>
        <%= form.select :date, @dates, {:include_blank => 'Quand ?'}, {:class => 'select2'} %>
        <%= form.submit value:"Recherche" %>
      <% end %>
      </div>
        <!-- Section Agenda -->
      <div class="wraper relative my-24">
        <div class="table-title p-4 bg-primary inline-block absolute">
          <h2 class="text-3xl font-bold">Agenda</h2>
        </div>
        <div class="w-5/6 p-12 bg-secondary">
          <table class="table-agenda">
            <%= render 'shared/event-table' %>
          </table>
        </div>
      </div>
  </div>
</div>
