<div class="bg-secondary h-40 w-5/6 z-0 absolute" style="left: 7.5%; bottom: 35%">
</div>
<div class="banner relative z-1" style="background-image: url('<%= image_path "bandeau-spectacles.jpg" %>')">
  <h1 class="absolute bg-white text-primary text-3xl font-bold px-1">Agenda</h1>
</div>
<!-- Section Search -->
<p class="text-2xl text-center m-4">Retrouvez nos artistes, partout en France</p>
<div class="w-3/4 m-auto">

<form class="grid grid-flow-col grid-cols-4 grid-rows-1 gap-2 m-auto lg:align-bottom">
  <%= form_with url: events_path, method: :get, local: true do |form| %>
  <%= form.select :city, @cities, {:include_blank => 'Où ?'}, {:class => 'shadow appearance-none border rounded py-2 px-4 m-2 font-bold text-gray-700 leading-tight focus:outline-none focus:shadow-outline'} %>
  <%= form.collection_select :artist_id, @artists, :id, :name, {:include_blank => 'Qui ?'}, {:class => 'shadow appearance-none border rounded py-2 px-4 m-2 font-bold text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}  %>
  <%= form.select :date, @dates, {:include_blank => 'Quand ?'}, {:class => 'shadow appearance-none border rounded py-2 px-4 m-2 font-bold text-gray-700 leading-tight focus:outline-none focus:shadow-outline'} %>
  <%= form.submit value:"Recherche", class:'bg-primary hover:bg-secondary hover:text-primary text-white font-bold py-2 px-4 m-2 rounded focus:outline-none focus:shadow-outline' %>
  <% end %>
</form>
</div>
<!-- Section Agenda -->
<div class="wraper relative my-24">
  <div class="table-title p-4 bg-primary inline-block absolute">
    <h2 class="text-3xl font-bold">Agenda</h2>
  </div>
  <div class="w-5/6 p-12 bg-secondary">
    <table class="table-agenda">
      <%= render 'shared/event-table' %>
    </table>
  </div>
</div>
