<div class="container">
  <div class="row py-4">
    <div class="col">
      <h1>Commande n° #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>Effectuée le :</strong> <%= l @order.created_at.to_date %></li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li>
        <li><strong>Produits :</strong> <%= @order.product.name %> [<%= @order.product_name %>]</li>
        <% @order.products.each do |product| %>
          <li class="flex items-center"><%= image_tag product.photo_url, class: "w-20 m-2" %><strong><%= product.name %></strong><strong> prix : <%= humanized_money_with_symbol product.price %></strong></li>
        <% end %>
      </ul>
      <p>Durée moyenne de livraison sous <strong>2 jours ouvrés</strong></p>
    </div>
  </div>
</div>
