<div class="transition-fade">
  <div class="flex justify-center items-center" id="bigdiv">
    <div class="z-10">
      <%= link_to spectacle_artists_path do %>
        <div class="w-40 bg-cover bg-center bg-no-repeat m-4 transform duration-200 categoryimg" id="pif" style="height: 27em; background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= image_path "home-spectacles.jpg" %>')">
          Spectacles
        </div>
      <% end %>
    </div>
    <div class="z-10">
      <%= link_to concert_artists_path do %>
        <div class="w-48 bg-cover bg-center bg-no-repeat m-4 transform duration-200 categoryimg" id="paf" style="height: 32em; background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= image_path "home-concerts.jpg" %>')">
          Concerts
        </div>
      <% end %>
    </div>
    <div class="z-10">
      <%= link_to jeune_public_artists_path do %>
        <div class="w-40 bg-cover bg-center bg-no-repeat m-4 transform duration-200 categoryimg" id="jeunePublic pouf" style="height: 27em; background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= image_path "home-jeunePublic.JPG" %>')">
          Jeune Public
        </div>
      <% end %>
    </div>
    <div class="bg-secondary h-40 w-2/3 z-0 absolute">
    </div>
  </div>
   <%= render 'shared/actus' %>
  <!-- Section Agenda -->
  <div class="table-title">
    <h2>Agenda</h2>
  </div>
  <div class="wraper">
    <table class="table-general">
      <%= render 'shared/event-table' %>
    </table>
  </div>
</div>
