<div class="flex justify-center items-center" id="bigdiv">
  <%= link_to spectacle_artists_path, class: "z-10" do %>
  <div class="w-40 bg-cover bg-bottom bg-no-repeat m-4 transform duration-200 flex items-center justify-center categoryimg" id="pif" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= image_path "home-spectacles.jpg" %>')">
    <h1 class="text-3xl text-center "><br>Spectacles</h1>
  </div>
  <% end %>
  <%= link_to concert_artists_path, class: "z-10" do %>
  <div class="w-48 bg-cover bg-center bg-no-repeat m-4 transform duration-200 flex items-center justify-center categoryimg" id="paf" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= image_path "home-concerts.jpg" %>')">
    <h1 class="text-3xl text-center"><br>Concerts</h1>
  </div>
  <% end %>
  <%= link_to jeune_public_artists_path, class: "z-10" do %>
  <div class="w-40 bg-cover bg-right bg-no-repeat m-4 transform duration-200 flex items-center justify-center categoryimg" id="pouf" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= image_path "home-jeunePublic.JPG" %>')">
    <h1 class="text-3xl text-center"><br>Jeune public</h1>
  </div>
  <% end %>
  <div class="bg-secondary h-40 w-2/3 z-0 absolute">
  </div>
</div>
<%= render 'shared/actus' %>
<div class="wraper relative my-24">
  <!-- Section Agenda -->
  <div class="table-title p-4 bg-primary inline-block absolute">
    <h2 class="text-3xl font-bold">Agenda</h2>
  </div>
  <div class="w-2/3 p-12 bg-secondary">
    <table class="table-general">
      <%= render 'shared/event-table' %>
    </table>
  </div>
</div>
