<div class="transition-fade">
  <!-- Section category -->
  <div class="wraper">
    <div class="cards">
      <%= link_to spectacle_artists_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= image_path "home-spectacles.jpg" %>')">
          Spectacles
        </div>
      <% end %>
      <%= link_to concert_artists_path do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= image_path "home-concerts.jpg" %>')">
          Concerts
        </div>
      <% end %>
      <%= link_to jeune_public_artists_path do %>
        <div class="card-category" id="jeunePublic" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.3)), url('<%= image_path "home-jeunePublic.JPG" %>')">
          Jeune Public
        </div>
      <% end %>
    </div>
  </div>
   <%= render 'shared/actus' %>
  <!-- Section Agenda -->
  <div class="table-title">
    <h2>Agenda</h2>
  </div>
  <div class="wraper">
    <table class="table-general">
      <%= render 'shared/event-table' %>
    </table>
  </div>
</div>
