<div class="py-3">
  <%= link_to products_path, class: "inline-flex items-center absolute text-primary bottom-0 no-underline hover:text-secondary transform hover:scale-110 duration-200 text-3xl p-1 font-bold mt-4 ml-20", style: "top: 10rem", id: "back-button" do %>
     <i class="fas fa-arrow-left"></i>
     <span id="back-text" class="text-base ml-2">Retour</span>
  <% end %>
  <%# image & text %>
  <div class="grid grid-cols-2 gap-64 mx-20">
  <%# image %>
      <%= image_tag @product.photo_url, class:"ml-4" %>
    <%# Description %>
    <div class="">
      <h1 class="text-2xl text-gray-900"><%= @product.name %></h1>
      <p class="my-4 text-gray-800"><%= @product.description %></p>
      <p class="text-xl my-4 text-gray-900"><%= humanized_money @product.price %> <%= currency_symbol %></p>
      <div class="flex flex-col">
        <%= link_to "Acheter ce produit", new_order_path(product_id: @product), class: 'bg-primary text-white font-bold py-2 px-4 my-1 text-center hover:bg-secondary hover:text-primary'  %>
        <%= link_to "Ajouter à mon pannier", add_to_cart_product_path(@product), class: 'bg-primary text-white font-bold py-2 px-4 my-1 text-center hover:bg-secondary hover:text-primary'  %>
      </div>
    </div>
  </div>
</div>
