<div class="bg-secondary h-40 w-5/6 mx-auto mt-32 mb-24 relative">
  <div class="flex flex-col h-full justify-center" style="padding-left: 60%;">
    <div class="img-product w-6/12 lg:w-5/12 md:w-6/12 absolute m-4 lg:m-24 md:m-8 left-0 object-contain">
      <%= link_to @product.product_image, class: 'photo', data: { lightbox: "gallery-show"}  do %>
        <%= image_tag @product.product_image, class: 'absolute h-full w-full object-contain' %>
      <% end %>
    </div>
    <h1 class="text-base lg:text-3xl md:text-3xl text-primary bg-white font-bold mb-4 px-2" style="width: fit-content"><%= @product.name %>  -  <span class="font-light"><%= humanized_money @product.price %> <%= currency_symbol %></span></h1>
    <%= link_to products_path, class: "inline-flex items-center absolute text-primary left-0 bottom-0 no-underline hover:text-white transform hover:scale-110 duration-200 text-3xl p-1 font-bold mb-12", style: "top: 3rem", id: "back-button" do %>
      <i class="fas fa-arrow-left"></i>
      <span id="back-text" class="text-base ml-2">Retour</span>
    <% end %>
  </div>
</div>
<div class="img-zone mx-auto flex w-5/6 overflow-x-vivible">
  <% if @product.product_image2.attached? %>
    <div class=" w-20 h-16 transform duration-200 hover:scale-110">
      <%= link_to @product.product_image2, class: 'photo', data: { lightbox: "gallery-show"}  do %>
      <%= image_tag @product.product_image2, class: ' w-20 h-16 object-contain' %>
      <% end %>
    </div>
  <% else %>
  <% end %>
  <% if @product.product_image3.attached? %>
    <div class=" w-20 h-16 transform duration-200 hover:scale-110">
      <%= link_to @product.product_image3, class: 'photo', data: { lightbox: "gallery-show"}  do %>
      <%= image_tag @product.product_image3, class: 'w-20 h-16 object-contain' %>
      <% end %>
    </div>
  <% else %>
  <% end %>
  <% if @product.product_image4.attached? %>
    <div class=" w-20 h-16 transform duration-200 hover:scale-110">
      <%= link_to @product.product_image4, class: 'photo', data: { lightbox: "gallery-show"}  do %>
      <%= image_tag @product.product_image4, class: 'w-20 h-16 object-contain' %>
      <% end %>
    </div>
  <% else %>
  <% end %>
  <% if @product.product_image5.attached? %>
    <div class=" w-20 h-16 transform duration-200 hover:scale-110">
      <%= link_to @product.product_image5, class: 'photo', data: { lightbox: "gallery-show"}  do %>
      <%= image_tag @product.product_image5, class: 'w-20 h-16 object-contain' %>
      <% end %>
    </div>
  <% else %>
  <% end %>
  <% if @product.product_image6.attached? %>
    <div class=" w-20 h-16 transform duration-200 hover:scale-110">
      <%= link_to @product.product_image6, class: 'photo', data: { lightbox: "gallery-show"}  do %>
      <%= image_tag @product.product_image6, class: 'w-20 h-16 object-contain' %>
      <% end %>
    </div>
  <% else %>
  <% end %>
  <% if @product.product_image7.attached? %>
    <div class=" w-20 h-16 transform duration-200 hover:scale-110">
      <%= link_to @product.product_image7, class: 'photo', data: { lightbox: "gallery-show"}  do %>
      <%= image_tag @product.product_image7, class: 'w-20 h-16 object-contain' %>
      <% end %>
    </div>
  <% else %>
  <% end %>
  <% if @product.product_image8.attached? %>
    <div class=" w-20 h-16 transform duration-200 hover:scale-110">
      <%= link_to @product.product_image8, class: 'photo', data: { lightbox: "gallery-show"}  do %>
      <%= image_tag @product.product_image8, class: 'w-20 h-16 object-contain' %>
      <% end %>
    </div>
  <% else %>
  <% end %>
  <% if @product.product_image9.attached? %>
    <div class=" w-20 h-16 transform duration-200 hover:scale-110">
      <%= link_to @product.product_image9, class: 'photo', data: { lightbox: "gallery-show"}  do %>
      <%= image_tag @product.product_image9, class: 'w-20 h-16 object-contain' %>
      <% end %>
    </div>
  <% else %>
  <% end %>
  <% if @product.product_image10.attached? %>
    <div class=" w-20 h-16 transform duration-200 hover:scale-110">
      <%= link_to @product.product_image10, class: 'photo', data: { lightbox: "gallery-show"}  do %>
      <%= image_tag @product.product_image10, class: 'w-20 h-16 object-contain' %>
      <% end %>
    </div>
  <% else %>
  <% end %>
  <% if @product.product_image11.attached? %>
    <div class=" w-20 h-16 transform duration-200 hover:scale-110">
      <%= link_to @product.product_image11, class: 'photo', data: { lightbox: "gallery-show"}  do %>
      <%= image_tag @product.product_image11, class: 'w-20 h-16 object-contain' %>
      <% end %>
    </div>
  <% else %>
  <% end %>
  <% if @product.product_image12.attached? %>
    <div class=" w-20 h-16 transform duration-200 hover:scale-110">
      <%= link_to @product.product_image12, class: 'photo', data: { lightbox: "gallery-show"}  do %>
      <%= image_tag @product.product_image12, class: 'w-20 h-16 object-contain' %>
      <% end %>
    </div>
  <% else %>
  <% end %>
  <% if @product.product_image13.attached? %>
    <div class=" w-20 h-16 transform duration-200 hover:scale-110">
      <%= link_to @product.product_image13, class: 'photo', data: { lightbox: "gallery-show"}  do %>
      <%= image_tag @product.product_image13, class: 'w-20 h-16 object-contain' %>
      <% end %>
    </div>
  <% else %>
  <% end %>
  <% if @product.product_image14.attached? %>
    <div class=" w-20 h-16 transform duration-200 hover:scale-110">
      <%= link_to @product.product_image14, class: 'photo', data: { lightbox: "gallery-show"}  do %>
      <%= image_tag @product.product_image14, class: 'w-20 h-16 object-contain' %>
      <% end %>
    </div>
  <% else %>
  <% end %>
  <% if @product.product_image15.attached? %>
    <div class=" w-20 h-16 transform duration-200 hover:scale-110">
      <%= link_to @product.product_image15, class: 'photo', data: { lightbox: "gallery-show"}  do %>
      <%= image_tag @product.product_image15, class: 'w-20 h-16 object-contain' %>
      <% end %>
    </div>
  <% else %>
  <% end %>
</div>
<div class="bg-primary p-4 lg:p-12 md:p-6 mt-8 mb-20 grid grid-cols-1 lg:grid-cols-12 md:grid-cols-12 gap-2">
  <div class="flex flex-col col-span-1 row-start-1 lg:col-span-3 lg-row-span-2 md:col-span-3 md:row-span-1 lg:col-start-3 lg:row-start-1 md:col-start-2 md:row-start-1">
    <%= link_to "Acheter ce produit", new_order_path(product_id: @product), class: 'bg-white text-primary font-bold md:text-sm py-2 lg:px-4 md:px-2 my-2 text-center hover:bg-secondary hover:text-primary transform hover:scale-105 duration-200'  %>
    <%= link_to "Ajouter à mon pannier", add_to_cart_product_path(@product), class: 'bg-white text-primary font-bold md:text-sm py-2 lg:px-4 md:px-2 my-2 text-center hover:bg-secondary hover:text-primary transform hover:scale-105 duration-200'  %>
  </div>

  <div class="relative bg-white text-primary p-6 lg:p-8 md:p-4 col-span-1 row-start-1 lg:col-span-4 md:col-span-5 lg:col-start-8 lg:row-start-1 md:col-start-7 md:row-start-1">
    <span class="product-description-title absolute right-0 mr-8 bg-secondary text-primary px-2 py-1 font-bold text-xl">
      Description
    </span>
    <p><%= markdown(@product.description) %></p>
  </div>
</div>
