<h1 class="text-2xl bg-primary text-white inline-block mt-6 ml-10 py-2 px-4">Mon panier</h1>
<div class="grid mx-40">
    <% unless @cart.empty? %>
        <% @cart.each do |item| %>
        <div class="col-span-1 flex items-center">
            <%= image_tag item["photo_url"], class:"w-1/12" %>
            <div class="ml-20">
                <h3 class="text-xl"><%= item["name"] %></h3>
                <p><%= humanized_money @products.find(item["id"]).price %> <%= currency_symbol %></p>
                <%= link_to "[X]", remove_from_cart_product_path(@products.find(item["id"])) %>
            </div>
        </div>
        <% end %>
    <% else %>
        <p>Panier vide</p>
    <% end %>
</div>

<hr>
<h2>Total de la commande</h2>
<p><%= humanized_money_with_symbol(@amount) %></p>

<%= submit_tag 'Purchase', class: 'btn btn-primary' %>
